*.cobol linguist-detectable=true
*.cobol linguist-language=COBOL
*.sql linguist-detectable=true
*.sql linguist-language=SQL
"*.ts " linguist-detectable=true
"*.ts " linguist-language=TypeScript
*.HC linguist-detectable=true
*.HC linguist-language=HolyC